#privacy-policy {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

#privacy-policy h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: var(--font-weight-semibold);
}

#privacy-policy h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: var(--font-weight-regular);
}

#privacy-policy p {
  margin-bottom: 10px;
  font-weight: var(--font-weight-light);
}